{% extends 'base.html.twig' %}

{% block menu_links %}
    {% include "quick_cfg/_menu.html.twig" %}
{% endblock %}

{% block title %}New DailyWorkDuration{% endblock %}

{% block body %}
    <h1>Create new DailyWorkDuration</h1>

    {{ include('daily_work_duration/_form.html.twig') }}

    <a href="{{ path('daily_work_duration_index') }}">back to list</a>
{% endblock %}
