{# top navbar, bottom Twig template #}
                </ul>
            </div>
                <turbo-frame id="personal_badge" src="{{ path('user_badge') }}"></turbo-frame>
            </div>
        </div>
    </div>    
</nav>
