{% extends 'base.html.twig' %}

{% block menu_links %}
    {% include "quick_cfg/_menu.html.twig" %}
{% endblock %}

{% block title %}Edit WorkDuration{% endblock %}

{% block body %}
    <h1>Edit WorkDuration</h1>

    {{ include('work_duration/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('work_duration_index') }}">back to list</a>

    {{ include('work_duration/_delete_form.html.twig') }}
{% endblock %}
