<form method="post" action="{{ path('quick_cfg_delete', {'id': quick_cfg.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" data-turbo-frame="_top">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quick_cfg.id) }}">
    <button class="btn btn-outline-danger let-lightgrey">Delete</button>
</form>
