<li class="nav-item">
    <a href="{{ path('quick_cfg_index') }}" data-turbo-frame="_top">QuickConfig</a>
</li>&nbsp;|&nbsp;
<li class="nav-item">
    <a href="{{ path('work_duration_index') }}" data-turbo-frame="_top">WorkDuration</a>
</li>&nbsp;|&nbsp;
<li class="nav-item">
    <a href="{{ path('daily_work_duration_index') }}" data-turbo-frame="_top">DailyWorkDurationIndex</a>
</li>&nbsp;|&nbsp;
<li class="nav-item">
    <a href="{{ path('working_duration_store_index') }}" data-turbo-frame="_top">WorkingDurationStoreIndex</a>
</li>
